<div class="nav-container">
    <nav class="navbar navbar-default custom-nav-style">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="xs-btn"
                        aria-expanded="false">
                    <span class="sr-only">navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand ">
                    <span class="glyphicon glyphicon-user" style="color: #474350"></span>&nbsp;&nbsp;GIT FACE
                </a>
            </div>

            <div class="collapse navbar-collapse" id="simple-btn">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Sign in</a></li>
                    <li><a href="#">Sign up</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>